.container{
    display:flex;
    height: 100vh;
    border: solid 3px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    
}
.container div{
    border:solid red 3px;
    height: 300px;
    width: 25%;
    border: solid 3px;

}
.container2{
    display: flex;
    height: 10vh;
    border: solid green 3px;
    justify-content: space-around;
    flex-direction: row-reverse;

}
container-2 div {
    height: 300px;
    width: 20%;
    border: solid orange 3px;
  }
  
  .container-3 {
    display: flex;
    height: 100vh;
    border: solid rgb(128, 0, 126) 3px;
    justify-content: space-around;
    flex-direction: column-reverse;
    /* Otra propiedad el felx-direction es row-reverse y column-reverse */
  }
  
  .container-3 div {
    height: 300px;
    width: 20%;
    border: solid rgb(0, 168, 129) 3px;
  }