h1 {
    /*font-family */
    /* que pasa si una fuente no existe */
    /* en css tenemos la opcion de poner varios tipos de letra */
    /* para que si la primera no existe css busque en la segunda y asi consecutivamente*/

    font-family: "Assistant";
    font-size: 45px;
    /* font-weight tampies puede recibir numeros iran del 100 a 900*/
    /* !Importante: Al poner un peso en font-weight no hay que colocar unidades de medida */
    font-weight: 200;
    text-decoration: 200;
    /* text/decoratioon */
    text-decoration: underline;
}
/* * Nota:
    *700= bold
    *900= bolder
*/

.parrafo{
    font-family:"Pacifico";
    /* font/size sirve para manejar el tama'o del texto*/
    font-size: 100px;
    font-weight: bold;
    /*
    Hexadecimal
    RGB Red Green Blue
    RGBA Red Green Blue Alpha
    Alpha opacidad 0 - 1
    Hsl hue Saturation 
}
.link-a{
    font-size: 32px;
    font-family: "dank mono"'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* al poner none en una propiedad estaos invalidado */
    text-decoration: none;
    /*Con la propiedad color: sirve para poder cambiar el color de un texto */
    /* Hexadecimal: Es una forma en la cual podemos aplicar un color basado en 6 digit alfanumericos*/
    color: rgb(13, 64, 116)

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    background-color: gray;
}
.span-1{
    text-decoration: line-through;
    text-transform: capitalize;
}
.span-2{
    text-decoration: overline;
}
.span-3{
    text-decoration: underline;
    text-transform: uppercase;
}
.span-4{
    text-decoration: line-through;
    text-decoration-color: #f01;
}
.span-5{
    text-decoration: overline;
  background-color: #0ba;
  text-decoration-color: #fff;
}
/*lowercase => Minusculas
  uppercase => mayusculas
  capitalize => Primera del text en mayuscul*/



.span-6{
    color: #fff;
    text-decoration: underline;
    background-color: rgb(252, 90, 255);
    text-decoration-color: rgb(255, 183, 0);
    /* Estamos indicando que el texto sea en minusiculas */
    text-transform: lowercase;

}
/* Para que CSS puede leer una fuente desde un archivo 
tenemos que @font-face esto nos permite cargar una fuente externa y darle 
un nombre para su uso */

/* El font-family en este caso puede ser cualquier nombre
es una buena practica nombrarla por su nombre oficial */

@font-face {
    /* En este caso font-family es el nombre de la fuenta */
    font-family: "Kanit";
    /* src => Es el lugar donde esta alojado la fuente */
    src: url("../fonts/Kanit/Kanit-Black.ttf");
  }
  
  @font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit/Kanit-BlackItalic.ttf");
  }
  
  .title-2 {
    font-family: "DancingScript-VariableFont_wght.ttf";
  }
  
  .parrafo-2 {
    font-family: "KdamThmorPro-Regular.ttf";
  }